################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/new_project/new_project/.vs/new_project/FileContentIndex/6a0b8a0f-a55d-4288-82b9-df06e1383c68.vsidx
/new_project/new_project/.vs/new_project/FileContentIndex/7eaab454-124a-4f5e-b84f-1dc57bea5e69.vsidx
