################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MYDENOTE/.vs/MyDeNote/FileContentIndex/148d6e45-30de-412a-bd7b-f4da5290446e.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/2414f8c8-1ae1-4e90-a620-7b45757c294a.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/30c9d12d-ad0e-441f-9d5c-adc0874cdf09.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/81d2c565-df3c-46c1-8d40-2ee90e7fcea8.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/897aac78-95d8-4fea-b8a5-4eeaea431896.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/11de637d-458a-4d2a-8c07-ed59030f2419.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/18e8fc72-db39-41d7-8849-ba23503e44ed.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/96fba574-868e-4e1b-a934-87789ba4cd79.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/bde8dcbe-afea-44ab-8db7-3aadb0937fb3.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/cb5a6b90-ba94-43b7-8418-13bc243d052f.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/26acc91d-26b1-4428-9c8b-5e901a0da68f.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/778fa64e-4c6d-4f3b-9952-e002e2c987f4.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/34b56cf9-7c83-4c58-b69c-c84582f915d1.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/6baf9d0f-a73e-4f62-8145-7629b81be5c6.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/88f1bf3c-1a85-4b36-85b4-7c0ebcf1cd87.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/ed2d5698-4591-49df-bd50-e2d443518cf5.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/4b75ab1b-4b3b-43a9-b904-cc773c2c28ca.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/8edc4c66-189a-4c22-ac71-92258ca98c48.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/9cf596e7-837c-43e6-86bf-9e9143bb1ae3.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/fc3f8daa-75ef-4067-bdd1-b7323d7653d3.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/3a44b886-be6b-4c1a-99d4-25ae5bf15b3b.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/3d7dce98-c94a-4a6a-ac9b-c7fe199231bb.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/49ce6146-a7d9-45a8-a3ef-73765d4ffa16.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/5029a3f0-6997-41ff-8a76-c19112fe4973.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/ffee362b-a08e-41cc-b329-7678eaa87e28.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/3fabca07-a072-487c-b5ab-23d67b6abbfb.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/99cd2004-e643-44c9-a4f3-89fe60c476b7.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/c9acfe34-6c68-42ce-a156-0a8fe0cb0361.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/f8fc31c9-dc73-4e95-b756-dc73ef13c055.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/fbcefd6e-c494-4f19-8160-41bebc86d0f2.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/05f74647-6774-406f-bfac-96ecf67992d5.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/070962d9-cd2c-45e4-a130-94c84edbfc7b.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/420d7735-e720-4e1a-a740-28859d74fbd8.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/62727fb3-222f-49ac-a35b-7e8927b340b6.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/9c5977fc-88ea-47af-9923-51a1a934c3d4.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/8d04d88c-3ced-4cfc-9c66-7bf0da0651d0.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/a0533203-0956-4c0d-b8f9-7a35dbc65c59.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/9d1d7fc7-4aed-4072-8578-85507093999e.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/f325f7ea-da7c-4ec1-abff-848f1afd567d.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/f7fa77c5-672c-4d2b-af56-98057fd81c19.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/3c023e3f-892d-444f-b06f-d24f11ff713a.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/9503841b-dc79-44c7-b343-cc9bb3579c78.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/fe38da4b-92cc-4098-895e-eee705fd9fb1.vsidx
