################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MYDENOTE/.vs/MyDeNote/FileContentIndex/148d6e45-30de-412a-bd7b-f4da5290446e.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/2414f8c8-1ae1-4e90-a620-7b45757c294a.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/30c9d12d-ad0e-441f-9d5c-adc0874cdf09.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/81d2c565-df3c-46c1-8d40-2ee90e7fcea8.vsidx
/MYDENOTE/.vs/MyDeNote/FileContentIndex/897aac78-95d8-4fea-b8a5-4eeaea431896.vsidx
